*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.header-flex{
    display: flex;
    justify-content: space-around;
    background-color: #ff6900;
    fill: white;
    text-transform: capitalize;
    padding-block: 10px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 1;
}

header a{
    color: white;
    text-decoration: none;
}

header > img{
    width: 10%;
    display: block;
}

.nav-flex ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}


.main-div-container{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    padding-bottom: 100px;
}

.shop-card{
    width: calc(100% / 3 - 20px);
    position: relative;
    top: 100px;
}

.shop-item img{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
    opacity: 0;
}

.overlay-1{
    background-image: url(../img/1.webp);
    object-fit: contain;
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

.overlay-2{
    background-image: url(../img/2.webp);
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

.overlay-3{
    background-image: url(../img/3.webp);
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

.overlay-4{
    background-image: url(../img/4.webp);
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

.overlay-5{
    background-image: url(../img/5.webp);
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

.overlay-6{
    background-image: url(../img/6.webp);
    position: relative;
    top: 0;
    bottom: 0;
    right:0;
    left: 0;
}

.shop-item img:hover{
    opacity: 1;
}






.item-data-flex{
    display: flex;
    position: absolute;
    bottom: 15%;
    gap: 5px;
}

.like{
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 50px;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.like{
    text-decoration: none;
    color: black;
}

.like:hover{
    color: red;
}








.discount, .item-env{
    color: white;
    padding: 5px;
    font-weight: bold;
}

.discount{
    background-color: red;
}

.item-env{
    background-color: green;
}

.brand{
    font-size: 13px;
}

.brand, .item-env{
    text-transform: capitalize;
}

.item-name{
    font-weight: bold;
    text-transform: uppercase;
}

.price{
    color: red;
    font-weight: bold;
}

.old-price{
    font-style: italic;
    text-decoration: line-through;
}

.price::after, .old-price::after{
    content: " € ";
}


footer{
    background-color: #1a1a1a;
    padding-block: 20px;
    margin-top: 50px;
}

.footer-flex{
    display: flex;
    width: 80%;
    margin: 0px auto;
    justify-content: space-between;
}

.footer-r{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.srl-info{
    display: flex;
    gap: 30px;
}

.social-icons{
    display: flex;
    gap: 10px;
}

.footer-l{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    fill: white;
}
